.footer {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5) 12px
  );
  padding: 40px 20px;
}

.footer-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}

.left-footer {
  color: #f8f8f2;
}

a {
  color: #f8f8f2;
  text-decoration: none;
  margin: 0 auto;
}

a:hover {
  color: #c4c4aa;
}

.arrow {
  color: #8a0806;
}
