@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(16, 21, 36, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  z-index: 1000;
}

.logo-img {
  width: 250px;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
}

.right-section {
  gap: 20px;
  margin-right: 20px;
}

.right-section a {
  color: #dffffe;
  text-decoration: none;
  font-family: "optimus", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.right-section a:active {
  color: #fff;
}

.right-section a:hover {
  color: #fff;
}

@font-face {
  font-family: "optimus";
  src: url("../fonts/OptimusPrinceps.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
}

/* Responsive */
@media (max-width: 850px) {
  .right-section {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #111;
    flex-direction: column;
    width: 200px;
    padding: 10px 0;
    display: none;
  }

  .right-section.open {
    display: flex;
  }

  .hamburger {
    display: flex;
    margin-right: 30px;
  }
}
